<div class="card border-decorator">
  <div class="card-header text-bootstrap d-flex align-items-center">
    <h2><%= title %></h2>
  </div>
  <div class="card-body">
    <div>
      <%= show_messages %>
      <%= simple_form_for offer, url: url do |f| %>

        <%= f.input :advertiser_name %>

        <%= f.input :url %>

        <%= f.input :description, as: :text, input_html: { :cols => 5, :rows => 5 } %>

        <%= f.input :start_at, :as => :string %>

        <%= f.input :end_at, :as => :string %>

        <%= f.input :premium, as: :boolean %>

        <%= f.button :submit, class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
